@import 'element-plus/dist/index.css';
@import 'element-plus/theme-chalk/dark/css-vars.css';

 :root {
   --el-font-size-base: var(--font-size);
   --el-color-primary: var(--db-c-primary);
   --el-table-current-row-bg-color: var(--db-c-bg-hover);
   --el-button-hover-text-color: var(--db-c-text-hover);
   --el-text-color-primary: var(--db-c-text);
   --el-button-bg-color: var(--db-c-primary);
   --el-button-border-color: var(--db-c-primary);
   --el-color-primary-light-3: rgba(25,115,237,0.8);
   --el-color-primary-light-5: rgba(25,115,237,0.8);
   --el-color-primary-dark-2: rgba(25,115,237,0.8);
   --el-color-primary-light-9: #fff;
   --el-color-primary-light-7: rgba(25,115,237,1);
 }