#app {
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
body {
  color: var(--db-c-text-1);
  background: var(--db-c-bg);
  transition:
          color 0.5s,
          background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-family);
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: var(--db-c-bg-nav);
}
::-webkit-scrollbar-thumb {
  background-color: var(--db-c-border)
}
::-webkit-scrollbar-thumb:hover {
  background-color: darkred;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}