@import "@imengyu/vue3-context-menu/lib/vue3-context-menu.css";
:root {
  --mx-menu-text: var(--db-c-text-1);
  --mx-menu-backgroud: var(--db-c-bg-light-2);
}
.mx-context-menu-item .label {
  font-size: var(--font-size);
}
.mx-context-menu-item {
  margin: 0 6px;
  padding: 3px 6px;
}
.mx-context-menu {
  font-family: var(--font-family);
}

.mx-context-menu.flat, .mx-menu-bar.flat {
  border-radius: 5px;
}
