@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1694184942531') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mysql:before {
  content: "\ec6d";
}

.icon-biaoge:before {
  content: "\e615";
}

.icon-sqlite:before {
  content: "\e65a";
}

.icon-oracle:before {
  content: "\ec48";
}

.icon-PostgreSQL:before {
  content: "\e8b7";
}

.icon-shujuku:before {
  content: "\e685";
}

